@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trivia Trainer</h1>
    <p>Train your brain on <a href="https://docs.microsoft.com/aspnet/core">trivia questions</a>.</p>
</div>
